$body-font: 'Source Sans Pro', 'Tahoma', 'Helvetica Neue', 'Verdana', sans-serif !default;
$theme-font: 'Titillium Web', 'Roboto', sans-serif !default;
$heading-font: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', sans-serif !default;
// $wittl-color: /*#c48ee3*/#f0b466;
$bg-color: #FEFEFE;
// $wittl-color: #fab03a;
$wittl-color: #5cb4ff;
$heading-color: #433d47;
$subheading-color: #aaa9aa;
$sidebar-color: #3F4249;

$query-height: 35px;

$wittl-header-height: 39px;
$wittl-body-height: 250px;

$sidebar-width: 80px;
$header-height: 80px;
$browsable-wittl-height: 100px;
