// Import variables
@import "variables";
// Import vendor
@import "vendor/bootstrap";
@import "vendor/sidr";
@import "vendor/nlform";

// Import components 
@import "components";

/* ------------------------------
 * Debug styles -----------------
 * --------------------------- */
.debug {
  position: absolute;
}

// ==============================
// Custom styles here 
// ============================== 

html, body { 
  height: 100%;
  width: 100%;
}

body {
  float: left;
  background-color: $bg-color;
  font-family: $body-font;
  letter-spacing: 1px;

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
}

.wittl-color {
  color: $wittl-color;
}

.sidebar {
  float: left;
  position: fixed;
  z-index: 150;
  width: $sidebar-width;
  height: 100%;
  background-color: $sidebar-color;

  header {
    text-align: center;
    padding: 15px 0;
    height: $header-height;
    background-color: $wittl-color;
    border-bottom: 1px solid $sidebar-color;
  }
}

#side-menu {
  //position: relative;
  z-index: 150;
  background-color: $sidebar-color;
  display: none;

  // &.sidr {
  //   display: block;
  // }

  header {
    background-color: $wittl-color;
    height: $header-height;
    border-bottom: 1px solid $sidebar-color;
    width: 100%;
    text-align: center;
    padding: 21px 0;

    h1 {
      margin: 0;
      color: white;
      font-size: 24px;
    }
  }
}

#open-menu {
  color: white;
  font-size: 36px;

  &:hover {
    text-decoration: none;
  }
}

.icon_nav, .text_nav {
  padding: 40px 0;
  list-style-type: none;
  color: #4c5260;

  li {
    text-align: center;
    padding: 15px 0;
    height: 70px;

    a {
      color: #656b7a;
      font-size: 28px;
      -webkit-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in;

      &:hover {
        text-decoration: none;
        color: $wittl-color;
        // color: lighten(#656b7a, 10%);
        -webkit-transition: color 0.15s ease-in;
        transition: color 0.15s ease-in;
      }
    }
  }
}

.text_nav {

  li {
    text-align: left;
    padding-left: 30px;

    a {
      font-family: $heading-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.3em;
      text-transform: uppercase;
    }
  }
}

.wrapper {
  background-color: $bg-color;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  //overflow: auto;
}

.main-pane {
  width: 100%;
  height: 100%;
  float: left;
  padding-left: $sidebar-width;

  &> .container {
    @media (min-width: $screen-lg-min) {
      width: $container-lg - $sidebar-width;
    }
  }
}


.page-header {
  float: left;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: $header-height;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  padding-left: $sidebar-width;
  border: none;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.content {
  padding-top: $header-height + 30;
  overflow: auto;
}

.wittlist-left.pane,
.wittlist-right.pane {
  float: left;
  padding: 0 25px;
  padding-bottom: 40px;
}

.wittlist-left.pane {
  width: 75%;
}

.wittlist-right.pane {
  width: 25%;
  padding: 0 25px;
}

section.pane {

  header {
    padding: 10px 0;

    h2 {
      font-family: $body-font;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $wittl-color;

      .browse {
        float: right;
        padding-right: 10px;
        padding-top: 8px;
        text-transform: none;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 300;

        a {
          color: $wittl-color;

          &:hover {
            color: lighten($wittl-color, 15%);
            text-decoration: none;
          }
        }
      }
    }
  }
}

.wittl-input-group {
  input {
    height: $query-height;
    background-color: #fbfbfb;
    border-color: #f2eee9;
    box-shadow: none;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 1px;

    &::-webkit-input-placeholder {
      color: #CCC;
    }
    &::-moz-placeholder {
      color: #CCC;
    }
    &:-moz-placeholder {
      color: #CCC;
    }
    &:-ms-input-placeholder {
      color: #CCC;
    }
  }

  .wittl-btn {
    height: $query-height;
    width: 80px;
    color: #FFFFFF;
    background-color: $wittl-color;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.query-wrapper {
  padding: 20px 0;

  input[name="query-input"] {

  }

  .wittl-btn {

  }

}

.add-new-card {
  padding: 20px 0;
}

.wittl-wrapper {
  width: 100%;
  float: left;

  .wittls {
    width: 100%;
    float: left;
    padding-left: 0;
    list-style-type: none;

    // .wittl {
    //   width: 100%;
    //   overflow: hidden;
    //   margin: 6px 0;
    //   float: left;
    //   height: $wittl-header-height;
    //   transition: height 0.3s ease-out;
    //   -webkit-transition: height 0.3s ease-out;

    //   .primary-param {
    //     width: 90px;
    //     text-transform: none;
    //     font-family: $body-font;
    //     font-weight: 300;
    //     padding: 0;
    //     padding-bottom: 1px;
    //     background: none;
    //     border: none;
    //     color: #FCFCFC;
    //     border-bottom: 1px dotted #FCFCFC;
    //   }

    //   & > header {
    //     position: relative;
    //     z-index: 2;
    //     float: left;
    //     width: 100%;
    //     height: $wittl-header-height;
    //     padding-bottom: 0;
    //     border-top-left-radius: 4px;
    //     border-top-right-radius: 4px;
    //     border-bottom-left-radius: 4px;
    //     border-bottom-right-radius: 4px;
    //     -webkit-transition: margin-top 0.5s ease-out,
    //     border-bottom-left-radius 0.3s ease-out 0.3s,
    //     border-bottom-right-radius 0.3s ease-out 0.3s;
    //     transition: margin-top 0.5s ease-out,
    //     border-bottom-left-radius 0.3s ease-out 0.3s,
    //     border-bottom-right-radius 0.3s ease-out 0.3s;
    //     border: none;
    //     background-color: $wittl-color;
    //     color: #FFFFFF;
    //     cursor: move;

    //     .name {
    //       text-transform: uppercase;
    //       font-weight: 600;
    //       letter-spacing: 1px;
    //       width: 85%;
    //       padding: 0 10px;
    //     }

    //     .reveal {
    //       width: 15%;
    //       padding: 0 3px;

    //       a {
    //         color: #FFF;
    //         -webkit-transition: color 0.3s ease-out;
    //         transition: color 0.3s ease-out;

    //         i {
    //           font-size: 18px;
    //         }

    //         &:hover {
    //           text-decoration: none;
    //           color: darken(white, 15%);
    //           -webkit-transition: color 0.3s ease-in;
    //           transition: color 0.3s ease-in;
    //         }
    //       }
    //     }
    //   }

    //   .wittl-body {
    //     float: left;
    //     width: 100%;
    //     left: -999em;
    //     margin-top: - (2 * $wittl-body-height) px;
    //     height: $wittl-body-height;
    //     background-color: #f4f2f0;
    //     border-bottom-left-radius: 4px;
    //     border-bottom-right-radius: 4px;

    //     padding: 20px 20px;

    //     .wittl-info {
    //       color: lighten($heading-color, 20%);
    //       line-height: 1.8em;

    //       .wittl-name {
    //         font-size: 15px;
    //         font-weight: 600;
    //         text-transform: uppercase;
    //         color: $wittl-color;
    //       }

    //       .primary-param {
    //         color: $wittl-color;
    //         border-color: $wittl-color;
    //         width: auto;
    //         max-width: 160px !important;
    //       }

    //       .wittl-description {
    //         padding-top: 5px;
    //         color: lighten($heading-color, 30%);
    //         line-height: 1.5em;
    //         font-family: $heading-font;
    //         font-style: italic;
    //         font-size: 12px;
    //       }
    //     }

    //     .wittl-params {
    //       float: left;
    //       padding: 5px 0;

    //       & > header {
    //         float: left;
    //         width: 100%;
    //         padding-bottom: 5px;
    //         border-bottom: 1px solid #E5E5E5;

    //         h3 {
    //           text-transform: uppercase;
    //           margin: 0;
    //           font-size: 14px;
    //           font-weight: 700;
    //           color: lighten($heading-color, 15%);
    //         }
    //       }

    //       .secondary-param {
    //         float: left;
    //         width: 100%;
    //         padding: 8px 0;

    //         .key, .value {
    //           float: left;
    //           padding: 0 10px;
    //         }

    //         .key {
    //           width: 40%;
    //           padding-left: 0;
    //           font-family: $body-font;
    //           text-transform: uppercase;
    //           font-size: 12px;
    //           font-weight: 600;
    //           color: $wittl-color;
    //         }

    //         .value {
    //           width: 60%;
    //           padding-right: 0;

    //           input {
    //             background-color: #fbfbfb;
    //             border-color: #f2eee9;
    //             box-shadow: none;
    //             font-size: 0.8em;
    //             font-weight: 300;
    //             letter-spacing: 1px;

    //             &::-webkit-input-placeholder {
    //               color: #CCC;
    //             }
    //             &::-moz-placeholder {
    //               color: #CCC;
    //             }
    //             &:-moz-placeholder {
    //               color: #CCC;
    //             }
    //             &:-ms-input-placeholder {
    //               color: #CCC;
    //             }
    //           }
    //         }
    //       }
    //     }

    //   }

    //   &.opened {
    //     height: $wittl-header-height + $wittl-body-height;
    //     transition: height 0.3s ease-in 0.3s;
    //     -webkit-transition: height 0.3s ease-in 0.3s;

    //     header {
    //       border-bottom-left-radius: 0px;
    //       border-bottom-right-radius: 0px;
    //       -webkit-transition: margin-top 0.5s ease-in,
    //       border-bottom-left-radius 0.3s ease-in,
    //       border-bottom-right-radius 0.3s ease-in;
    //       transition: margin-top 0.5s ease-in,
    //       border-bottom-left-radius 0.3s ease-in,
    //       border-bottom-right-radius 0.3s ease-in;
    //     }

    //     .wittl-body {
    //       left: 0;
    //       margin-top: 0;
    //       transition: margin-top 0.5s ease-in;
    //       -webkit-transition: margin-top 0.5s ease-in;
    //     }
    //   }

    // }
  }
}

.wittlist {
  padding: 10px 0;

  .card-wrapper {
    float: left;
    padding-top: 60px;
    margin-top: 30px;

    .card {
      position: relative;
      float: left;
      width: 100%;
      background-color: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #ededed;
      box-shadow: 2px 2px 5px rgba(34, 62, 85, 0.15);

      .pic {
        position: relative;
        padding: 0;
        // height: 160px;

        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;

        .favourite {
          position: absolute;
        }

        img {
          width: 100%;
        }
      }

      .test {
        position: absolute;
        top: -55px;
        left: 50%;
        height: 110px;
        width: 110px;
        margin-left: -55px;
        border-radius: 99em;
        border: 4px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            height: 100%;
          }
        }
      }

      .details {
        padding: 10px 30px;
        padding-top: 70px;
        //border-left: 4px solid #F1F1F1;

        .title {
          font-family: $heading-font;
          font-weight: 700;
          font-size: 1.1em;
          text-transform: uppercase;
          // color: #575757;
          color: $wittl-color;

          margin: 10px 0;
        }

        .wittl-meta-description {
          font-size: 0.9em;
          font-weight: 600;
          font-style: italic;
          color: #BBB;
        }

        .wittl-data {
          float: left;
          margin-left: -20px;
          margin-right: -20px;

          ul {
            float: left;
            width: 100%;
            list-style-type: none;
            padding-left: 10px;
            padding-right: 15px;
          }

          li {
            letter-spacing: normal;
            font-size: 0.9em;
            color: #787878;
            padding: 5px 10px;
          }
        }
      }

    }

    // .card {
    //   background-color: #FFFFFF;
    //   border: 1px solid #ededed;
    //   box-shadow: 2px 2px 5px rgba(34, 62, 85, 0.15);

    //   .wittl-data {
    //     height: 140px;
    //     padding: 0;
    //     margin: 0;

    //     list-style-type: none;
    //     border-left: 1px solid #ededed;
    //     li {
    //       height: 33.3%;
    //       padding: 10px 10px 10px 50px;
    //       font-size: 15px;
    //       border-bottom: 1px solid #ededed;
    //     }
    //   }

    //   .pic {
    //     position: relative;
    //     height: 140px;
    //     overflow: hidden;
    //     border-right: 1px solid #ededed;

    //     a.favourite {
    //       position: absolute;
    //       right: 0;
    //       z-index: 5;
    //       font-size: 20px;
    //       padding-top: 5px;
    //       padding-right: 10px;
    //       color: #FFFFFF;

    //       &:hover {
    //         text-decoration: none;
    //         color: darken(white, 10%);
    //       }
    //     }

    //     img {
    //       height: 100%;
    //     }
    //   }

    //   .detail {
    //     height: 80px;
    //     padding: 5px 15px;

    //     header {
    //       border: none;
    //       padding: 10px 3px 5px 0;

    //       .title {
    //         font-family: $heading-font;
    //         font-weight: 700;
    //         font-size: 14px;
    //         letter-spacing: 1px;
    //         text-transform: uppercase;
    //         color: $heading-color;
    //         transition: color 0.3s ease-out;
    //         -webkit-transition: color 0.3s ease-out;

    //         margin: 5px 0;
    //       }

    //       .wittl-meta-description {
    //         font-family: $heading-font;
    //         font-weight: 400;
    //         font-size: 12px;
    //         font-style: italic;
    //         letter-spacing: 1px;
    //         color: $subheading-color;
    //         margin: 2px;
    //       }
    //     }

    //     .user-metrics {
    //       padding: 10px 0 5px 3px;

    //       .key, .value {
    //         padding: 4px 3px;
    //       }

    //       .key {
    //         font-size: 14px;
    //         color: $wittl-color;
    //       }

    //       .value {
    //         line-height: 14px;
    //         font-family: $heading-font;
    //         font-weight: 300;
    //         font-size: 1.1em;
    //         letter-spacing: 0.8px;
    //         text-transform: uppercase;
    //         color: lighten($subheading-color, 10%);
    //       }
    //     }

    //     .user-display-metrics {
    //       width: 100%;
    //       padding: 5px 0;

    //       td {
    //         border: none;
    //         padding: 1.5px 0;
    //         font-size: 12px;
    //         letter-spacing: 0.75px;
    //       }

    //       .key {
    //         width: 65%;
    //         text-transform: uppercase;
    //         font-weight: 600;
    //         color: lighten(#58555a, 10%);
    //       }

    //       .value {
    //         width: 35%;
    //         color: #9b9b9b;
    //       }
    //     }

    //     &:hover {
    //       cursor: pointer;

    //       .title {
    //         color: $wittl-color;
    //         transition: color 0.3s ease-in;
    //         -webkit-transition: color 0.3s ease-in;
    //       }
    //     }
    //   }
    // }

  }
}

body.modal-open {
  .wrapper {
    -webkit-filter: grayscale(0.75); 
    filter: grayscale(0.75);
  }
}

#card-detail {
  float: left;

  .modal-content {
    float: left;
    width: 100%;
    padding: 20px 30px;

    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .modal-header, .modal-body {
      float: left;
      width: 100%;
      padding: 0;
      font-family: $body-font;
      letter-spacing: 1px;
      color: $subheading-color;
      border: none;
    }

    .details {
      width: 100%;
      float: left;
      padding-bottom: 20px;

      & > header {
        // padding-bottom: 10px;
      }
    }

    .title {
      font-family: $heading-font;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $heading-color;
    }

    .city {
      font-style: italic;
      font-weight: 400;
    }

    .description {
      font-size: 14px;
      font-weight: 300;
      color: #858285;
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      max-height: 200px;
      // padding: 10px 30px;
      overflow: hidden;
      text-align: center;
    }

    .item-image {
      width: 100%;
    }

    .stats {
      float: left;
      width: 50%;
      //border-top: 1px solid #DDD;

      table {

        td {
          border: none;
        }

        .key {
          color: $wittl-color;
        }

        .value {
          color: $subheading-color;
        }
      }
    }

    #map {
      float: left;
      width: 50%;
      height: 200px;
      border-radius: 5px;
    }
  }
}

.profile-wrapper {
  //height: 600px;
  padding: 10px 20px;

  .profile-pic {
    width: 100%;
    padding: 20px 0 10px 0;
    text-align: center;

    img {
      width: 140px;
      height: 140px;
      border-radius: 99em;
      border: 5px solid white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  .user-details {
    width: 100%;
    margin-top: -80px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 30px 20px;
    padding-top: 80px;
    text-align: center;

    .username {
      margin: 10px 0;
      font-size: 1.2em;
      font-family: $body-font;
      font-weight: 500;

      a {
        color: $wittl-color;
        -webkit-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;

        &:hover {
          text-decoration: none;
          color: lighten($wittl-color, 10%);
          -webkit-transition: color 0.3s ease-in;
          transition: color 0.3s ease-in;
        }
      }
    }

    .fullname {
      text-transform: uppercase;
      font-family: $heading-font;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.1em;
      line-height: 1.2em;
    }

    .other {
      padding: 0 5px;
      text-align: left;
      font-size: 0.9em;
      color: $subheading-color;
    }

  }
}

.wittlist-list-wrapper {
  padding: 20px 0;
}

.create-wittlist {
  margin: 30px 0;
}

.modal {

  .modal-content {
    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
}

.modal-header {

  .modal-title {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $heading-color;
  }
}

.wittlist-list {
  padding: 20px 0;
  list-style-type: none;

  li {
    padding-top: 20px;
    padding-bottom: 20px;

    .cover {
      position: relative;
      float: left;
      width: 100%;
      height: 120px;
      overflow: hidden;

      border: 5px solid #F7F7F7;
      // outline: 1px solid #D8D8D8;
      border-radius: 2px;
      box-shadow: 0px 0px 0px 1px #D8D8D8;

      a.add-item {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;

        padding: 3px;
        margin: 1px;
        width: 25px;
        height: 25px;
        font-size: 15px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFF;

        opacity: 0;
        // display: none;
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
      }

      &:hover {

        a.add-item {
          // display: block;
          opacity: 1;

          text-decoration: none;

          -webkit-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
        }
      }

      .cover-inner {
        position: relative;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #D8D8D8;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

    }

    .details {
      float: left;
      width: 100%;
      padding: 15px 0;

      .name {
        margin: 0;
        font-size: 0.9em;

        a {
          text-transform: uppercase;
          font-family: $heading-font;
          font-weight: 600;
          color: $heading-color;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .stats {
        float: left;
        width: 100%;
        padding: 15px 0;

        .viewers, .items {
          float: left;
          width: 50%;
          color: $subheading-color;

          i {
            padding-right: 20px;
            color: $wittl-color;
          }
        }
      }
    }

  }
}

.login-area {
  padding: 20px 0;

  .login-form {
    margin-top: 20px;
    padding: 30px 50px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    text-align: center;

    .title {
      font-family: $heading-font;
      color: $wittl-color;
      font-weight: 700;
      font-size: 2.5em;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }

    .intro {
      color: lighten($heading-color, 35%);
      letter-spacing: 1px;
      font-size: 0.9em;
    }

    hr {
      margin: 30px 0 50px 0;
    }

    .username, .password {
      position: relative;
      display: inline-block;
      max-width: 200px;
      text-align: center;
      background-color: #FAFAFA;
      color: #999;

      &:focus {
        box-shadow: none;
        border-color: #f2eee9;
      }
    }

    .login-error {
      position: relative;
      display: inline-block;
      max-width: 200px;
      padding-bottom: 40px;
      color: #c5645a;
      letter-spacing: 1;
    }

    .username {
      z-index: 1;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .password {
      margin-top: -1px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .wittl-btn {
      margin: 20px 0;
      width: 200px;
    }

  }
}

.page-header {

  .user-area {
    float: right;
    padding: 10px 30px;
    font-size: 0.9em;
    color: lighten($subheading-color, 15%);
    font-weight: 700;

    .profile-link, .logout {
      color: lighten($subheading-color, 15%);
      padding: 0 5px;
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in;

      &:hover {
        text-decoration: none;
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
      }
    }

    .profile-link {
      color: $wittl-color;
      font-weight: 400;
      font-size: 1em;

      &:hover {
        color: darken($wittl-color, 15%);
      }
    }

    .logout {
      text-transform: uppercase;
      letter-spacing: 1;
      color: lighten($subheading-color, 15%);

      &:hover {
        color: $subheading-color;
      }
    }
  }
}

#browse-wittls {

  section {

    header {
      padding: 5px 0;
      border-bottom: 1px solid #EEE;
      margin-bottom: 15px;

      h3 {
        font-size: 1em;
        font-weight: 600;
        font-family: $body-font;
        color: lighten($heading-color, 10%);

        small {
          font-size: 1em;
        }
      }
    }
  }

  .available-wittls {
    float: left;
    width: 100%;

    .browsable-wittls {
      float: left;
      width: 100%;
      height: 300px;
      overflow-y: auto;
      background-color: $bg-color;
      padding: 30px 0;
      list-style-type: none;
      // border-top: 1px solid #EEE;
      // border-bottom: 1px solid #EEE;

      li {
        margin: 15px 0;

        .browsable-wittl {
          position: relative;
          display: table;
          width: 100%;
          height: $browsable-wittl-height;
          background-color: #F0F0F0;
          border-radius: 4px;
          text-align: center;
          overflow: hidden;

          -webkit-transition: background-color 0.3s ease-in;
          transition: background-color 0.3s ease-in;

          &.selected {
            background-color: $wittl-color;

            .title {
              color: #FFF;
            }

            -webkit-transition: background-color 0.3s ease-in;
            transition: background-color 0.3s ease-in;
          }

          .title {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            font-family: $body-font;
            font-weight: 600;
            font-size: 1em;
            color: lighten($subheading-color, 15%);

            opacity: 1;
            top: 0;

            -webkit-transition: opacity 0.3s ease-out 0.1s,
            top 0.4s ease-out;
            transition: opacity 0.3s ease-out 0.1s,
            top 0.4s ease-out;

            margin: 0;
            padding: 10px 10px;
            text-transform: uppercase;
          }

          .more-info {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: - $browsable-wittl-height;
            left: 0;

            opacity: 0;

            -webkit-transition: opacity 0.3s ease-out 0.5s,
            bottom 0.2s ease-out;
            transition: opacity 0.3s ease-out 0.5s,
            bottom 0.2s ease-out;

            .description {
              display: table;
              width: 100%;
              height: 100%;
              padding: 10px 15px;
              text-align: left;

              p {
                display: table-cell;
                vertical-align: middle;
                font-family: $heading-font;
                font-size: 0.8em;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
              }
            }
          }

          &:hover {
            cursor: pointer;
            background-color: $wittl-color;

            -webkit-transition: background-color 0.3s ease-in;
            transition: background-color 0.3s ease-in;

            .title {
              top: - $browsable-wittl-height;
              opacity: 0;
              -webkit-transition: opacity 0.3s ease-in 0.5s,
              top 0.3s ease-in;
              transition: opacity 0.3s ease-in 0.5s,
              top 0.3s ease-in;
            }

            .more-info {
              opacity: 1;
              bottom: 0;

              -webkit-transition: opacity 0.3s ease-in 0.2s,
              bottom 0.5s ease-in;
              transition: opacity 0.3s ease-in 0.2s,
              bottom 0.5s ease-in;
            }
          }

        }
      }
    }
  }

  .modal-body {
    float: left;
  }

  .modal-footer {
    float: left;
    width: 100%;
  }
}
 
.wittl-form { 
  color: #616161;
  float: left;
  padding-bottom: 100px;
  opacity: 1;

  &.loading {
    opacity: 0;
  }

  .wittl-clause {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 3px;

    // HACK
    &:first-child {
        
      .wittl-conjunction {
        display: none;
        visibility: hidden;
      }
    }

    &:last-child {

      .wittl-conjunction {
        color: #CCC;
      }

      .wittl {
        border-bottom-color: #CCC;

        .selected {
          color: #CCC;
        }
      }
    }

    &.wittl-dragstart {
      background-color: rgba(0,0,0,0.05);
    }

    
    .wittl {
      display: inline-block;

      &:hover {
        cursor: move;
      }

      .selected {
        color: $wittl-color;

        &:hover {
          color: lighten(#CCC, 10%);
          text-decoration: none;
        }
      }

      .wrap-dd-select {
        display: inline-block;
        position: relative;
        border-bottom: 1px dashed $wittl-color;
        line-height: inherit;
        display: inline-block;
        color: #CCC;
        cursor: pointer;
        border-bottom: 1px dashed #CCC;

        .dropdown {
          position: absolute;
          display: none;
          visibility: hidden;
          background: $wittl-color;
          border-radius: 3px;
          right: 0;
          top: 50%;
          font-size: 90%;
          opacity: 0;
          -webkit-transform: translateY(-40%) scale(0.9);
          -moz-transform: translateY(-40%) scale(0.9);
          transform: translateY(-40%) scale(0.9);
          -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
          transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;


          li {
            color: #fff;
            position: relative;
            font-size: 90%;
            padding: 1em 2em;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
              background: rgba(0,0,0,0.05);
            }

            &.checked:before {
              font-family: 'ElegantIcons';
              color: #FFF;
              speak: none;
              font-style: normal;
              font-weight: normal; 
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
              content: "\4e";
              position: absolute;
              right: 1em;
              font-size: 80%;
              line-height: 2;
            }

            a {
              color: #FFF;
              text-decoration: none;
            }

          }
        }

        &.active {

          .dropdown {
            z-index: 10000;
            display: block;
            visibility: visible;
            opacity: 1;
            -webkit-transform: translateY(-50%) scale(1);
            -moz-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
            -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
            transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
          }
        }
      }

      .param-field {
        cursor: text;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
          color: red;
        }

        &.loading {
          opacity: 0;
        }
      }

    }
  }

  .wittl-conjunction {
    padding: 5px 0;
    color: #616161;
    font-size: 1em;
  }
}

.wittl-droppable {
  background-color: #F7F7F7;
  border-radius: 3px;
  border: 1px dashed #DDD;
}