// Import variables
@import "variables";
// Import vendor
@import "vendor/bootstrap";
@import "vendor/sidr";
@import "vendor/nlform";

// Import components
@import "components";

/* ------------------------------
 * Debug styles -----------------
 * --------------------------- */
.debug {
  position: absolute;
}

// ==============================
// Custom styles here 
// ============================== 

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  float: left;
  background-color: $bg-color;
  font-family: $body-font;
  letter-spacing: 1px;
  color: #5A5A5A;

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
}

.wittl-color {
  color: $wittl-color;
}

a {
  color: $wittl-color;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;

  &:hover {
    text-decoration: none;
    color: lighten($wittl-color, 10%);
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }
}

.sidebar {
  float: left;
  position: fixed;
  z-index: 150;
  width: $sidebar-width;
  height: 100%;
  background-color: $sidebar-color;

  header {
    text-align: center;
    padding: 15px 0;
    height: $header-height;
    background-color: $wittl-color;
    border-bottom: 1px solid $sidebar-color;
  }
}

#side-menu {
  //position: relative;
  z-index: 150;
  background-color: $sidebar-color;
  display: none;

  // &.sidr {
  //   display: block;
  // }

  header {
    background-color: $wittl-color;
    height: $header-height;
    border-bottom: 1px solid $sidebar-color;
    width: 100%;
    text-align: center;
    padding: 21px 0;

    h1 {
      margin: 0;
      color: white;
      font-size: 24px;
    }
  }
}

#open-menu {
  color: white;
  font-size: 36px;

  &:hover {
    text-decoration: none;
  }
}

.icon_nav, .text_nav {
  padding: 40px 0;
  list-style-type: none;
  color: #4c5260;

  li {
    text-align: center;
    padding: 15px 0;
    height: 70px;

    a {
      color: #656b7a;
      font-size: 28px;
      -webkit-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in;

      &:hover {
        text-decoration: none;
        color: $wittl-color;
        // color: lighten(#656b7a, 10%);
        -webkit-transition: color 0.15s ease-in;
        transition: color 0.15s ease-in;
      }
    }
  }
}

.text_nav {

  li {
    text-align: left;
    padding-left: 30px;

    a {
      font-family: $heading-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.3em;
      text-transform: uppercase;
    }
  }
}

.wrapper {
  background-color: $bg-color;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  //overflow: auto;
}

.main-pane {
  width: 100%;
  height: 100%;
  float: left;
  padding-left: $sidebar-width;

  &> .container {
    @media (min-width: $screen-lg-min) {
      width: $container-lg - $sidebar-width;
    }
  }
}


.page-header {
  float: left;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: $header-height;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  padding-left: $sidebar-width;
  border: none;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.content {
  padding-top: $header-height;
  overflow: auto;

  .inner {
    width: 100%;
    max-width: 1200 - $sidebar-width;
    margin: 0 auto;
    padding-top: 30px;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}

.wittlist-left.pane,
.wittlist-right.pane {
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}

.wittlist-left.pane {
  width: 60%;
}

.wittlist-right.pane {
  width: 40%;
  padding-left: 60px;
  padding-right: 60px;
}

section.pane {
  padding-top: 30px;

  header {
    padding: 10px 0;

    h2 {
      font-family: $body-font;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $wittl-color;

      .browse {
        float: right;
        padding-right: 10px;
        padding-top: 8px;
        text-transform: none;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 300;

        a {
          color: $wittl-color;

          &:hover {
            color: lighten($wittl-color, 15%);
            text-decoration: none;
          }
        }
      }

    }
  }
}

.wittl-input-group {
  input {
    height: $query-height;
    background-color: #fbfbfb;
    border-color: #f2eee9;
    box-shadow: none;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 1px;

    &::-webkit-input-placeholder {
      color: #CCC;
    }
    &::-moz-placeholder {
      color: #CCC;
    }
    &:-moz-placeholder {
      color: #CCC;
    }
    &:-ms-input-placeholder {
      color: #CCC;
    }
  }

  .wittl-btn {
    height: $query-height;
    width: 80px;
    color: #FFFFFF;
    background-color: $wittl-color;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.query-wrapper {
  padding: 20px 0;

  input[name="query-input"] {

  }

  .wittl-btn {

  }

}


.toolbar {
  margin-left: -18px;
  margin-right: -18px;
  padding: 30px 18px;
  background-color: #F7F7F7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f4f4f4 80%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(80%,#f4f4f4), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#f4f4f4 80%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%,#f2f2f2 80%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%,#f2f2f2 80%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%,#f2f2f2 80%,#f4f4f4 100%); /* W3C */
  border-bottom: 1px solid #F2F2F2;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.1);

  margin-bottom: 30px; // dEBUG

  .left, .right {
    display: inline-block;
    padding: 0 25px;
  }

  .left {
    width: 60%;

    h2 {
      margin: 10px 0;
      font-family: $body-font;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $wittl-color;
    }
  }

  .right {
    width: 40%;
  }
}


.wittl-wrapper {
  width: 100%;
  float: left;
  color: #616161;
  opacity: 1;
  padding: 25px 30px 140px;
  border-radius: 4px;
  background-color: #F9F9F9;

  .wittls {
    width: 100%;
    float: left;
    padding-left: 0;
    list-style-type: none;
  }
}

.wittlist-empty {
  padding: 50px 0;
  text-align: center;

  .illustration {
    font-size: 70px;
    color: #e7e7e7;
  }

  .message {
    padding: 20px;
    color: #D5D5D5;
    font-size: 1.3em;

    .smiley {
      font-weight: 600;
      padding: 0 10px;
    }

    .sub {
      display: block;
      padding-top: 20px;
      font-size: 0.8em;
      font-style: italic;
    }
  }

  .plugin-link {
    color: $wittl-color;
    font-style: italic;

    &:hover {
      text-decoration: none;
      color: lighten($wittl-color, 10%);
    }
  }
}


.wittlist {
  padding-bottom: 20px;

  .card-wrapper {
    float: left;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .card {
      position: relative;
      display: table;
      float: left;
      width: 100%;
      background-color: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #ededed;
      box-shadow: 2px 2px 4px rgba(34, 62, 85, 0.15);

      .delete {
        position: absolute;
        display: table;
        right: 0;
        top: 0;
        width: 26px;
        height: 26px;
        background-color: $wittl-color;
        border-bottom-left-radius: 5px;

        i {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          color: #FFF;
          font-size: 15px;
        }

        &:hover {
          text-decoration: none;
        }
      }

      .pic {
        position: relative;
        width: 32%;
        display: table-cell;
        padding: 0;
       // border-right: 1px solid #EEE;

        background-position: center bottom;
        background-size: 115% auto;
        background-repeat: no-repeat;

        // border-top: 4px solid $wittl-color;
        // border: 6px solid #F9F9F9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;

        box-shadow: 0 0 100px rgba(0,0,0,0.7) inset;

        .overlay {
          position: absolute;
          bottom: 0;
          height: 25%;
          width: 100%;
          background-color: transparent;
          background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.8));
          background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
        }

        .favourite {
          position: absolute;
          left: 15px;
          top: 10px;
          font-size: 20px;

          color: #FFF;

          &:hover {
            text-decoration: none;
          }
        }

        img {
          width: 100%;
        }

      }

      .details {
        width: 30%;
        display: table-cell;
        vertical-align: top;
        padding: 10px 25px;
        border-top: 4px solid $wittl-color;

        .title {
          font-family: $heading-font;
          font-weight: 700;
          font-size: 1em;
          text-transform: uppercase;
          line-height: 1.3em;
          // color: #575757;
          color: $wittl-color;

          margin: 10px 0;
        }

        .wittl-meta-description {
          font-size: 0.9em;
          font-weight: 600;
          font-style: italic;
          color: #BBB;
        }
      }

      .wittl-data {
          display: table-cell;
          width: 38%;
          border-top: 4px solid $wittl-color;
          padding: 15px;
          // margin-left: -20px;
          // margin-right: -20px;

          .empty {
            text-align: center;
            color: lighten($subheading-color, 10%);
            font-weight: 600;
            font-style: italic;
            font-size: 0.9em;
          }

          ul {
            float: left;
            width: 100%;
            list-style-type: none;
            padding-left: 0;
          }

          li {
            letter-spacing: normal;
            font-size: 0.9em;
            color: #787878;
            padding: 5px 10px;
          }
        }

    }

  }
}

section.favourites-wrap {
  padding-top: 0;

  &> header {
    padding-left: 20px;

    h2 {
      margin: 10px;
      padding: 15px 0;
      border-bottom: 1px solid #EEE;
    }
  }
}

.favourites {
  padding: 0;
  padding-bottom: 50px;

  .card-wrapper {
    margin-top: 30px;

    .card {
      border-radius: 4px;
      background-color: #FFF;
      border: 1px solid #ededed;
      box-shadow: 2px 2px 4px rgba(34, 62, 85, 0.15);

      .pic {
        position: relative;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
        height: 140px;
        box-shadow: 0 0 100px rgba(0,0,0,0.7) inset;

        .favourite {
          position: absolute;
          left: 15px;
          top: 10px;
          font-size: 20px;

          color: #FFF;

          &:hover {
            color: darken(white, 10%);
          }
        }


        img {
          width: 100%;
        }
      }

      .details {
        padding: 10px 25px;
        border-top: 4px solid $wittl-color;

        .title {
          font-family: $heading-font;
          font-weight: 700;
          font-size: 1em;
          text-transform: uppercase;
          line-height: 1.3em;
          // color: #575757;
          color: $wittl-color;

          margin: 10px 0;
        }

        .wittl-meta-description {
          font-size: 0.9em;
          font-weight: 600;
          font-style: italic;
          color: #BBB;
        }

        .attributes {

          td {
            padding: 2px 0;
          }

          .key {
            width: 50%;
            padding-right: 10px;
            font-family: $heading-font;
            font-size: 0.8em;
            text-transform: uppercase;
            color: darken($subheading-color, 5%);
          }

          .val {
            width: 50%;
            padding-left: 20px;
            color: $wittl-color;
            text-align: right;
          }
        }
      }
    }
  }
}

body.modal-open {
  .wrapper {
    -webkit-filter: grayscale(0.75);
    filter: grayscale(0.75);
  }
}

#card-detail {
  float: left;

  .modal-content {
    float: left;
    width: 100%;
    padding: 20px 30px;

    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .modal-header, .modal-body {
      float: left;
      width: 100%;
      padding: 0;
      font-family: $body-font;
      letter-spacing: 1px;
      color: $subheading-color;
      border: none;
    }

    .details {
      width: 100%;
      float: left;
      padding-bottom: 20px;

      & > header {
        // padding-bottom: 10px;
      }
    }

    .title {
      font-family: $heading-font;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $heading-color;
    }

    .city {
      font-style: italic;
      font-weight: 400;
    }

    .description {
      font-size: 14px;
      font-weight: 300;
      color: #858285;
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      max-height: 200px;
      // padding: 10px 30px;
      overflow: hidden;
      text-align: center;
    }

    .item-image {
      width: 100%;
    }

    .stats {
      float: left;
      width: 50%;
      //border-top: 1px solid #DDD;

      table {

        td {
          border: none;
        }

        .key {
          color: $wittl-color;
        }

        .value {
          color: $subheading-color;
        }
      }
    }

    #map {
      float: left;
      width: 50%;
      height: 200px;
      border-radius: 5px;
    }
  }
}

.profile-wrapper {
  //height: 600px;
  padding: 10px 20px;

  .profile-pic {
    width: 100%;
    padding: 20px 0 10px 0;
    text-align: center;

    img {
      width: 140px;
      height: 140px;
      border-radius: 99em;
      border: 5px solid white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  .user-details {
    width: 100%;
    margin-top: -80px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 30px 20px;
    padding-top: 80px;
    text-align: center;

    .username {
      margin: 10px 0;
      font-size: 1.2em;
      font-family: $body-font;
      font-weight: 500;

      a {
        color: $wittl-color;
        -webkit-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;

        &:hover {
          text-decoration: none;
          color: lighten($wittl-color, 10%);
          -webkit-transition: color 0.3s ease-in;
          transition: color 0.3s ease-in;
        }
      }
    }

    .fullname {
      text-transform: uppercase;
      font-family: $heading-font;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.1em;
      line-height: 1.2em;
    }

    .other {
      padding: 0 5px;
      text-align: left;
      font-size: 0.9em;
      color: $subheading-color;
    }

  }
}

.wittlist-list-wrapper {
  padding: 20px 0;
}

.create-wittlist {
  margin: 30px 0;
}

.modal {

  .modal-content {
    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
}

.modal-header {

  .modal-title {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $heading-color;
  }
}

.wittlist-list {
  padding: 20px 0;
  list-style-type: none;

  li {
    padding-top: 20px;
    padding-bottom: 20px;

    .cover {
      position: relative;
      float: left;
      width: 100%;
      height: 120px;
      overflow: hidden;

      border: 5px solid #F7F7F7;
      // outline: 1px solid #D8D8D8;
      border-radius: 2px;
      box-shadow: 0px 0px 0px 1px #D8D8D8;

      a.add-item,
      a.delete-list {
        position: absolute;
        top: 0;
        z-index: 5;

        padding: 3px;
        margin: 1px;
        width: 25px;
        height: 25px;
        font-size: 15px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFF;

        opacity: 0;
        // display: none;
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
      }

      a.add-item {
        right: 0;
      }

      a.delete-list {
        left: 0;
      }

      &:hover {

        a.add-item,
        a.delete-list {
          // display: block;
          opacity: 1;

          text-decoration: none;

          -webkit-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
        }
      }

      .cover-inner {
        position: relative;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #D8D8D8;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

    }

    .details {
      float: left;
      width: 100%;
      padding: 15px 0;

      .name {
        margin: 0;
        font-size: 0.9em;

        a {
          text-transform: uppercase;
          font-family: $heading-font;
          font-weight: 600;
          color: $heading-color;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .stats {
        float: left;
        width: 100%;
        padding: 15px 0;

        .viewers, .items {
          float: left;
          width: 50%;
          color: $subheading-color;

          i {
            padding-right: 20px;
            color: $wittl-color;
          }
        }
      }
    }

  }
}

.login-area {
  padding: 20px 0;

  .login-form {
    margin-top: 20px;
    padding: 30px 50px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    text-align: center;

    .title {
      font-family: $heading-font;
      color: $wittl-color;
      font-weight: 700;
      font-size: 2.5em;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }

    .intro {
      color: lighten($heading-color, 35%);
      letter-spacing: 1px;
      font-size: 0.9em;
    }

    hr {
      margin: 30px 0 50px 0;
    }

    .username, .password {
      position: relative;
      display: inline-block;
      max-width: 200px;
      text-align: center;
      background-color: #FAFAFA;
      color: #999;

      &:focus {
        box-shadow: none;
        border-color: #f2eee9;
      }
    }

    .login-error {
      position: relative;
      display: inline-block;
      max-width: 200px;
      padding-bottom: 40px;
      color: #c5645a;
      letter-spacing: 1;

      ul {
        padding-left: 0;
        list-style-type: none;
      }
    }

    .username {
      z-index: 1;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .password {
      margin-top: -1px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .wittl-btn {
      margin: 20px 0;
      width: 200px;
    }

    .register {
      font-size: 0.8em;
      font-style: italic;
      color: $subheading-color;

      .register-link {
        font-size: 0.85em;
        font-style: normal;
        font-weight: 600;
      }
    }


    &.signup {

      .login-error {
        padding-top: 5px;
        padding-bottom: 10px;
      }

      input {
        margin: 5px 0;
        border-radius: 4px;
      }
    }

  }
}

.page-header {

  .user-area {
    float: right;
    padding: 10px 30px;
    font-size: 0.9em;
    color: lighten($subheading-color, 15%);
    font-weight: 700;

    .profile-link, .logout {
      color: lighten($subheading-color, 15%);
      padding: 0 5px;
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in;

      &:hover {
        text-decoration: none;
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
      }
    }

    .profile-link {
      color: $wittl-color;
      font-weight: 400;
      font-size: 1em;

      &:hover {
        color: darken($wittl-color, 15%);
      }
    }

    .logout {
      text-transform: uppercase;
      letter-spacing: 1;
      color: lighten($subheading-color, 15%);

      &:hover {
        color: $subheading-color;
      }
    }
  }
}

#browse-wittls {

  section {

    header {
      padding: 5px 0;
      border-bottom: 1px solid #EEE;
      margin-bottom: 15px;

      h3 {
        font-size: 1em;
        font-weight: 600;
        font-family: $body-font;
        color: lighten($heading-color, 10%);

        small {
          font-size: 1em;
        }
      }
    }
  }

  .available-wittls {
    float: left;
    width: 100%;

    .browsable-wittls {
      float: left;
      width: 100%;
      height: 300px;
      overflow-y: auto;
      background-color: $bg-color;
      padding: 30px 0;
      list-style-type: none;
      // border-top: 1px solid #EEE;
      // border-bottom: 1px solid #EEE;

      li {
        margin: 15px 0;

        .browsable-wittl {
          position: relative;
          display: table;
          width: 100%;
          height: $browsable-wittl-height;
          background-color: #F0F0F0;
          border-radius: 4px;
          text-align: center;
          overflow: hidden;

          -webkit-transition: background-color 0.3s ease-in;
          transition: background-color 0.3s ease-in;

          &.selected {
            background-color: $wittl-color;

            .title {
              color: #FFF;
            }

            -webkit-transition: background-color 0.3s ease-in;
            transition: background-color 0.3s ease-in;
          }

          .title {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            font-family: $body-font;
            font-weight: 600;
            font-size: 1em;
            color: lighten($subheading-color, 15%);

            opacity: 1;
            top: 0;

            -webkit-transition: opacity 0.3s ease-out 0.1s,
            top 0.4s ease-out;
            transition: opacity 0.3s ease-out 0.1s,
            top 0.4s ease-out;

            margin: 0;
            padding: 10px 10px;
            text-transform: uppercase;
          }

          .more-info {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: - $browsable-wittl-height;
            left: 0;

            opacity: 0;

            -webkit-transition: opacity 0.3s ease-out 0.5s,
            bottom 0.2s ease-out;
            transition: opacity 0.3s ease-out 0.5s,
            bottom 0.2s ease-out;

            .description {
              display: table;
              width: 100%;
              height: 100%;
              padding: 10px 15px;
              text-align: left;

              p {
                display: table-cell;
                vertical-align: middle;
                font-family: $heading-font;
                font-size: 0.8em;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
              }
            }
          }

          &:hover {
            cursor: pointer;
            background-color: $wittl-color;

            -webkit-transition: background-color 0.3s ease-in;
            transition: background-color 0.3s ease-in;

            .title {
              top: - $browsable-wittl-height;
              opacity: 0;
              -webkit-transition: opacity 0.3s ease-in 0.5s,
              top 0.3s ease-in;
              transition: opacity 0.3s ease-in 0.5s,
              top 0.3s ease-in;
            }

            .more-info {
              opacity: 1;
              bottom: 0;

              -webkit-transition: opacity 0.3s ease-in 0.2s,
              bottom 0.5s ease-in;
              transition: opacity 0.3s ease-in 0.2s,
              bottom 0.5s ease-in;
            }
          }

        }
      }
    }
  }

  .modal-body {
    float: left;
  }

  .modal-footer {
    float: left;
    width: 100%;
  }
}

.wittl-form {


  &.loading {
    opacity: 0;
  }

  .delete {
    margin: 0;
    padding: 0;
    color: lighten($subheading-color, 10%);
    float: left;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.025);
    border-radius: 4px;
    border: 1px dashed rgba(0,0,0,0.075);

    //display: none;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out 0.2s,
                        height 0.5s ease-out,
                        padding 0.5s ease-out,
                        margin 0.5s ease-out;
    transition: opacity 0.5s ease-out 0.2s,
                        height 0.5s ease-out,
                        padding 0.5s ease-out,
                        margin 0.5s ease-out;

    p {
      opacity: 0;
      margin: 0;
      color: #FF6F6F;
      font-size: 0.9em;
      text-transform: uppercase;

      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;

      i {
        padding-right: 20px;
        font-size: 0.9em;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.dragging {

    .delete {
      //display: block;
      margin: 15px 0;
      padding: 10px 20px;
      height: auto;
      opacity: 1;
      -webkit-transition: opacity 0.5s ease-in 0.2s,
                        height 0.5s ease-in,
                        padding 0.5s ease-in,
                        margin 0.5s ease-in;
      transition: opacity 0.5s ease-in,
                        height 0.5s ease-in,
                        padding 0.5s ease-in,
                        margin 0.5s ease-in;

      p {
        opacity: 1;
        -webkit-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
      }
    }
  }

  .instruction {
    margin-bottom: 10px;
    letter-spacing: 0.8px;
    font-size: 0.9em;
    color: darken($subheading-color, 10%);
  }

  .intro {
    margin-bottom: 0;
  }

  .wittl-clause {
    margin: 5px -10px;
    margin-right: 2px;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: none;
    border: none;
    -webkit-transition: background-color 0.1s ease-in, border 0.1s ease-in;
    transition: background-color 0.1s ease-in, border 0.1s ease-in;

    // &:after {
    //   font-family: 'ElegantIcons';
    //   speak: none;
    //   font-style: normal;
    //   font-weight: normal;
    //   font-variant: normal;
    //   text-transform: none;
    //   line-height: 1;
    //   -webkit-font-smoothing: antialiased;
    //   color: lighten($heading-color, 15%);
    //   content: "";
    //   opacity: 0;
    // }

    .del {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 2px;
      width: 0;
      opacity: 0;
      -webkit-transition: width 0.2s ease-out, opacity 0.2s ease-out 0.15s;
      transition: width 0.2s ease-out, opacity 0.2s ease-out 0.15s;

      a {
        display: table;
        padding: 3px;
        color: #FF6F6F;
        
        i {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }

    }

    &:hover {
      cursor: move;
      background-color: rgba(0, 0, 0, 0.02);
      border: 1px dashed rgba(0,0,0,0.1);
      -webkit-transition: background-color 0.1s ease-in, border 0.1s ease-in;
      transition: background-color 0.1s ease-in, border 0.1s ease-in;

      .del {
        width: 20px;
        opacity: 1;

        -webkit-transition: width 0.2s ease-in, opacity 0.2s ease-in 0.15s;
        transition: width 0.2s ease-in, opacity 0.2s ease-in 0.15s;
      }
      // &:after {
      //   content: "\31";
      //   opacity: 1;
      //   -webkit-transition: opacity 0.5s ease-in;
      // }
    }

    .wittl-conjunction {
      display: inline-block;
      padding-right: 5px;
      color: #999;
      font-size: 1em;
    }

    &> .wittl-conjunction,
    &> .wrap-dd-select,
    &> .preposition,
    &> .param-field {
      margin-bottom: 5px;
    }


    // HACK
    &:first-child {

      .wittl-conjunction {
        display: none;
        visibility: hidden;
      }
    }

    &:last-child {
      display: block;

      .wittl-conjunction {
        color: #CCC;
      }

      .selected {
        color: #CCC;
      }

      &:hover {
        cursor: default;
        background: none;
        border: none;

        .del {
          width: 0;
          opacity: 0;
        }

        &:after {
          content: "";
        }
      }
    }

    &.wittl-dragstart {
      background-color: rgba(0,0,0,0.05);
    }

    .selected {
      color: $wittl-color;

      &:hover {
        color: lighten($wittl-color, 5%);
        text-decoration: none;
      }
    }

    .wrap-dd-select {
      display: inline-block;
      position: relative;
      border-bottom: 1px dashed $wittl-color;
      line-height: inherit;
      color: #CCC;
      cursor: pointer;
      border-bottom: 1px dashed #CCC;

      .dropdown {
        position: absolute;
        display: none;
        visibility: hidden;
        border-radius: 3px;
        right: 0;
        top: 50%;
        font-size: 90%;
        opacity: 0;
        -webkit-transform: translateY(-40%) scale(0.9);
        -moz-transform: translateY(-40%) scale(0.9);
        transform: translateY(-40%) scale(0.9);
        -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;


        .dropdown-item {
          background: $wittl-color;

          &:hover {
            background: lighten($wittl-color, 5%);
          }

          &:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }
        }

        .dropdown-item-attr {
          background: #EE5757;

          &:hover {
            background: lighten(#EE5757, 5%);
          }

          &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }

        li {
          color: #fff;
          position: relative;
          font-size: 90%;
          padding: 1em 2em;
          cursor: pointer;
          white-space: nowrap;

          &.checked:before {
            font-family: 'ElegantIcons';
            color: #FFF;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            content: "\4e";
            position: absolute;
            right: 1em;
            font-size: 80%;
            line-height: 2;
          }

          a {
            color: #FFF;
            text-decoration: none;
          }

        }
      }

      &.active {

        .dropdown {
          z-index: 10000;
          display: block;
          visibility: visible;
          opacity: 1;
          -webkit-transform: translateY(-50%) scale(1);
          -moz-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
          -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
          transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
        }
      }
    }

    .param-field {
      cursor: text;
      color: #3C454D;

      &::-webkit-input-placeholder {
        color: #CCC;
      }
      &::-moz-placeholder {
        color: #CCC;
      }
      &:-moz-placeholder {
        color: #CCC;
      }
      &:-ms-input-placeholder {
        color: #CCC;
      }

      &.loading {
        opacity: 0;
      }
    }
  }
}

.wittl-droppable {
  background-color: #F7F7F7;
  border-radius: 3px;
  border: 1px dashed #DDD;
}

div.members-area {
  padding-top: 10px;
  padding-bottom: 30px;

  &> header {

    &> h2 {
      color: $subheading-color;
    }
  }

  .active-members {
    padding-top: 40px;

    li {
      padding: 10px;

      .card {
        padding: 20px 20px;
        border-radius: 4px;
        background-color: #FFF;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      }

      .pic {
        padding: 5px 30px;

        img {
          width: 100%;
          border: 5px solid white;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
      }

      .name {
        margin-top: 15px;
        padding: 5px 0;
        text-align: center;
        font-family: $heading-font;
        font-size: 1.1em;
        color: $wittl-color;
      }
    }
  }

  select {

  }

}


.controls {
  padding: 20px 0;

  .add-new-card {
    padding: 0;
  }

  .tabs {
    float: right;
    padding-left: 30px;

    .tab {
      position: relative;
      background-color: rgba(0,0,0,0.05);
      color: $wittl-color;
      padding: 6px 20px;
      font-size: 15px;

      .count {
        position: absolute;
        vertical-align: middle;
        text-align: center;
        z-index: 10;
        top: 5px;
        right: 10px;
        width: 15px;
        height: 15px;
        padding: 3px;
        border-radius: 99em;
        background-color: rgba(0,0,0,0.4);
        font-size: 7px;
        color: #FFF;
      }
    }
     
  }
}

.comments {
  float: left;
  width: 100%;
  margin-top: 40px;
  border: 1px solid #EEE;
  border-radius: 4px;
  border-bottom: none;

  .thread {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    


    .message {
      padding: 10px 0;
      background-color: rgba(0,0,0,0.01);
      border-bottom: 1px solid #EEE;

      .sender {

        img {
          width: 100%;
          border: 3px solid #FFF;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
      }

      .body {
        padding: 5px 20px;
        letter-spacing: 0.8px;

        p {
          margin-bottom: 5px;
        }

        .details {
          font-family: $heading-font;
          font-size: 0.8em;
          font-style: italic;
          color: $subheading-color;
          letter-spacing: 0.5px;
        }
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }
}

/* Fix placeholder */
.selectize-input {

  &> input {
    color: $subheading-color;


    &::-webkit-input-placeholder {
      color: #CCC;
    }
    &::-moz-placeholder {
      color: #CCC;
    }
    &:-moz-placeholder {
      color: #CCC;
    }
    &:-ms-input-placeholder {
      color: #CCC;
    }
  }
}

select.invite-friends {
  display: none;
}

.selectize-control.invite-friends {
  padding-bottom: 20px;
}