{% extends "base.html" %}

{% block content %}

<div class="row login-area">
    <div class="login-form signup col-sm-4 col-sm-offset-4">
        

        <h2 class="title">wittl</h2>
        <p class="intro">Glad you could join us!<br />Sign up below</p>
        <hr />

        <form role="form" method="post" action="">
            {% csrf_token %}
            <div class="wittl-input-group">
                <input type="text" name="{{ form.username.name }}" class="username form-control" placeholder="Username" />
                {% if form.username.errors %}
		            <small class="login-error">{{ form.username.errors }}</small>
		        {% endif %}
                <input type="email" name="{{ form.email.name }}" class="username form-control" placeholder="Email" />
		        {% if form.email.errors %}
		            <small class="login-error">{{ form.email.errors }}</small>
		        {% endif %}
                <input type="password" name="{{ form.password1.name }}" class="password form-control" placeholder="Password" />
				{% if form.password1.errors %}
		            <small class="login-error">{{ form.password1.errors }}</small>
		        {% endif %}
                <input type="password" name="{{ form.password2.name }}" class="password form-control" placeholder="Confirm Password" />
                {% if form.password2.errors %}
		            <small class="login-error">{{ form.password2.errors }}</small>
		        {% endif %}
                
                <button type="submit" class="btn wittl-btn">Register</button>
            </div>

            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</div>

{% endblock %}