{% extends "base.html" %}

{% block content %}
    <div class="pane col-sm-6">
        <header>
            <h2>User Info</h2>
        </header>

    </div>

    <div class="pane col-sm-6">
        <header>
            <h2>Change Settings</h2>
        </header>

        <form class="create-wittlist" action="{% url 'list_create' %}" method="post">

        </form>

    </div>


{% endblock %}

{% block javascript %}

    <script src="/static/web/js/vendor/angular/angular.js"></script>
    <script src="/static/web/js/vendor/angular/angular-resource.js"></script>
    <script src="/static/web/js/vendor/angular/angular-cookies.js"></script>
    <script src="/static/web/js/vendor/angular/angular-isotope.min.js"></script>
    <script src="/static/web/js/vendor/angular/angular-nanobar.js"></script>
    <script src="/static/web/js/vendor/angular/angular-sortable.js"></script>

    <script src="/static/web/js/wittl/filters.js"></script>
    <script src="/static/web/js/wittl/directives.js"></script>
    <script src="/static/web/js/wittl/controllers.js"></script>
    <script src="/static/web/js/wittl/services.js"></script>
    <script src="/static/web/js/wittl/app.js"></script>

{% endblock %}