<div class="col-sm-12 card-wrapper">
    <div class="card">
        <div class="row">
            <div class="col-sm-1 pic">
                <a class="favourite pull-right" href="#"><i class="icon_star_alt"></i></a>
                <img src="{{ card_image }}" title="Name of thing here"/>
            </div>

            <div class="col-sm-4">
                <h3 class="title"> {{ truncate name 20 }}</h3>

                <p class="wittl-meta-description">{{ truncate attributes.subtitle 15 }}</p>
            </div>
            <div class="col-sm-7">
                <ul class="wittl-data">
                    <li style="color: #e74c3c;"></li>
                    <li style="color: #2ecc71;"></li>
                    <li style="color: #9b59b6;"></li>
                </ul>
            </div>
        </div>

    </div>
</div>