<div class="col-sm-12 card-wrapper">
    <div class="card">
        <div class="row">
            <div class="col-sm-1 pic">
                <a class="favourite pull-right" href="#"><i class="icon_star_alt"></i></a>
                <img src="{{ card_image }}" title="Name of thing here"/>
            </div>

            <div class="col-sm-4">
                <h3 class="title"> {{ truncate name 20 }}</h3>

                <p class="wittl-meta-description">{{ truncate attributes.city 15 }}</p>
            </div>
            <div class="col-sm-7">
                <ul class="wittl-data">
                    <li style="background: #f1c40f;">Average cost of £132.99 travelling from <strong>Manchester</strong></li>
                    <li style="background: #e67e22;">2 hours and 45 minutes from <strong>Madrid</strong></li>
                    <li style="background: #e74c3c;">Nothing</li>
                </ul>
            </div>
        </div>

    </div>
</div>