# simple celerybeat upstart job

description "{{ project_name }}-celerybeat instance"
setuid wittl
setgid webapps
start on runlevel [2345]
stop on runlevel [06]

script
  . {{ virtualenv_path}}/bin/postactivate
  {{ virtualenv_path }}/bin/python {{ application_path }}/manage.py celery beat --loglevel=INFO -A wittl
end script
