<ul class="wittls" id="wittl-list">
{{#wittls:i}}
    {{>wittl}}
{{/wittls}}
</ul>

<!-- {{>wittl}} -->
<li class="wittl" data-wittl-name="test-comparator">
    <header>
        <p class="name pull-left">Test Comparator
        <span style="display: block; overflow: hidden; padding: 0 5px 0 0;"><input class="primary-param" value="{{primary_param}}"style="width: 100%; color: #aaa9aa; background: transparent; border: none;"/></span></p>
                  <span class="reveal pull-right">
                    <a href="#">
                        <i class="arrow_carrot-2down"></i>
                    </a>
                  </span>
    </header>
    <section class="wittl-body">
        <div class="wittl-info">
            <p>
                <span class="wittl-name">Test Comparator</span>
                <br/>
                from <input class="primary-param" value="{{primary_param}}"style="color: #aaa9aa; float:right; background: transparent; border: none; width: auto;"/>
            </p>

            <p class="wittl-description">esting</p>
        </div>
        <div class="wittl-params">
            <header>
                <h3>Options</h3>
            </header>

            <!-- Extra params -->
            <div class="secondary-param">
                      <span class="key">
                        Transport Mode
                      </span>
                      <span class="value">
                        <input type="text" class="form-control" placeholder="E.g. car..."/>
                      </span>
            </div>
            <!-- End extra params -->

        </div>
    </section>
</li>
<!-- {{/wittl}} -->
