<li class="wittl">
    <header>
        <p class="name pull-left">Travel Cost from <span class="primary-param" contenteditable>New...</span>
        </p>
                  <span class="reveal pull-right">
                    <a href="#">
                        <i class="arrow_carrot-2down"></i>
                    </a>
                  </span>
    </header>
    <section class="wittl-body">
        <div class="wittl-info">
            <p>
                <span class="wittl-name">Travel Cost</span>
                <br/>
                from <input type='text' class="primary-param" value="Newcastle-upon-T..." />
            </p>

            <p class="wittl-description">The cost to get to your destination from your chosen start
                location.</p>
        </div>
        <div class="wittl-params">
            <header>
                <h3>Options</h3>
            </header>

            <!-- Extra params -->
            <div class="secondary-param">
                      <span class="key">
                        Transport Mode
                      </span>
                      <span class="value">
                        <input type="text" class="form-control" placeholder="E.g. car..."/>
                      </span>
            </div>
            <!-- End extra params -->

        </div>
    </section>
</li>