{% extends "base.html" %}

{% block content %}


<section class="favourites-wrap pane">
    <header>
        <h2>My Favourites</h2>
    </header>

	<!-- Favourites list -->
	<div ng-controller="FavouritesCtrl" class="col-sm-12">

		<div class="favourites row" isotope-container="isotope-container"
	             iso-options="{layoutMode: 'masonry', transitionDuration: '0.65s'}" ng-cloak>

		    <div class="col-sm-3 card-wrapper" ng-repeat="item in items track by item.id" isotope-item="isotope-item">

				<!-- Begin card -->
		        <div class="card" data-id="[[item.id]]" ng-click="showModal(item)">
	                <div class="pic">
	                    <a class="favourite pull-right" ng-click="toggleFavourite($event, item)"
	                       ng-if="item.favourited" href="#"><i
	                            class="icon_star"></i></a>
	                    <a class="favourite pull-right" ng-click="toggleFavourite($event, item)"
	                       ng-if="!item.favourited" href="#"><i
	                            class="icon_star_alt"></i></a>

	                    <img ng-src="[[ item.card_image ]]"/>
	                </div>
	                <div class="details">
	                    <h3 class="title"> [[ item.name | limitTo: 20 ]]</h3>
	                    <p class="wittl-meta-description">[[ item.attributes.subtitle | limitTo:10 ]]</p>
	                    
	                    <hr />

	                    <table class="attributes">
	                    	<tr ng-repeat="(key, val) in item.attributes.sortable_attrs">
	                    		<td class="key">[[ key ]]</td>
	                    		<td class="val">[[ val ]]</td>
	                    	</tr>
	                    </table>

	                </div>
		        </div>
		        <!-- END card -->

		    </div>
		</div>

	</div>

</section>

{% endblock %}


{% block javascript %}
    {% include 'js_dependencies.html' %}
{% endblock %}