{% extends "base.html" %}

{% block css %}
    <link href="/static/web/js/vendor/ladda/ladda-themeless.min.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block outsidewrapper %}

    <div id="newItemModal" ng-controller="ListsQuickAddCtrl" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon_close"></i>
                    </button>
                    <h4 class="modal-title">Add a new item</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="addItemToList()">
                        <div class="input-group wittl-input-group">
                            <input name="url" ng-model="item.url" class="form-control" type="text"
                                   placeholder="Add an item to your wittlist..."/>
                            <span class="input-group-btn">
                                <button type="submit" class="ladda-button wittl-btn btn"
                                        data-style="zoom-in"><span class="ladda-label">Add</span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block content %}
    <div class="col-sm-4">
        <div class="profile-wrapper">
            <div class="profile-pic">
                <img src="{{ user.gravatar_url }}"/>
            </div>
            <div class="user-details">
                <h3 class="username">
                    <a href="">{{ user.username }}</a>
                </h3>

                <p class="fullname">
                    {{ user.first_name }} {{ user.last_name }}
                </p>

                <p class="joined">Wittler since {{ user.date_joined | date:"F j, Y" }}.</p>

                <hr/>

                <p class="other">
                    Wittlists are collections of items you want to compare.
                    In each Wittlist you can create <strong>Wittls</strong> to compare the different items.
                </p>

                <p class="other">
                    You might want to create a list of holiday locations or a collection of potential jobs.
                </p>
            </div>

        </div>
    </div>
    <section ng-controller="ListsCtrl" class="wittlist-list-wrapper pane col-sm-8">
        <header>
            <h2>My Wittlists</h2>
        </header>

        <form class="create-wittlist" action="{% url 'list_create' %}" method="post">
            {% csrf_token %}
            <div class="input-group wittl-input-group">
                <input name="{{ create_form.name.name }}" class="form-control" type="text"
                       placeholder="Name your new wittlist..."/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn wittl-btn">Create</button>
                    </span>
            </div>
        </form>

        <ul class="wittlist-list row" ng-cloak>

            <li ng-repeat="list in lists" class="col-sm-6">

                <div class="row">
                    <div class="col-xs-8">
                        <div class="cover">
                            <a href="#" ng-click="selectList(list.id)" class="add-item" data-toggle="modal"
                               data-target="#newItemModal"><i class="icon_plus"></i></a>
                            <a href="#" ng-click="deleteList(list.id)" class="delete-list" data-toggle="modal"
                               data-target="#newItemModal"><i class="icon_close"></i></a>
                            <a href="/list/[[ list.id ]]" class="cover-inner">
                                <img ng-src="[[ list.items[0].card_image | coverphoto ]]" title="[[ list.name ]]"
                                     alt="[[ list.name ]]"/>
                            </a>
                        </div>
                        <div class="details">
                            <h3 class="name">
                                <a href="/list/[[ list.id ]]">[[ list.name ]]</a>
                            </h3>

                            <div class="stats">
                                    <span class="viewers">
                                        <i class="icon_group"></i>&nbsp; [[ list.users.length ]]
                                    </span>
                                    <span class="items">
                                        <i class="icon_tags"></i>&nbsp; [[ list.items.length ]]
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            </li>

        </ul>

        </div>
    </section>


{% endblock %}

{% block javascript %}
    {% include 'js_dependencies.html' %}
{% endblock %}