{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ list.name }}</h1>

            <form method="POST" action="{% url 'insert_list_item' list.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" name="url" class="form-control" placeholder="Insert URL"/>
                </div>
                <input type="submit" value="Whittle It" class="btn btn-default"/>
            </form>

            {% for list_item in list.listitem_set.all %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{{ list_item.card_image }}" style="height: 64px; width:64px;"
                             alt="..."/>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{ list_item.name }}</h4>
                        {{ list_item.price_test }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}