{% extends "base.html" %}

{% block css %}
    <link href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/static/web/js/vendor/ladda/ladda-themeless.min.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block outsidewrapper %}

    <div class="modal fade" id="card-detail">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- modal content here -->

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="browse-wittls">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- modal content here -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon_close"></i>
                    </button>
                    <h4 class="modal-title">Add a new <strong class="wittl-color">wittl</strong></h4>
                </div>

                <div class="modal-body">

                    <section class="available-wittls">
                        <header>
                            <h3><strong class="wittl-color">WITTLs</strong> available for
                                <small>{{ list.name|truncatechars:30 }}</small>
                            </h3>
                        </header>

                        <ul class="browsable-wittls">
                            <li class="col-sm-6">
                                <div class="browsable-wittl" data-selected="0">
                                    <h4 class="title">Travel Price From</h4>

                                    <div class="more-info">
                                        <div class="description">
                                            <p>Brief description about wittl, its primary and secondary params and what
                                                it can be used for.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6">
                                <div class="browsable-wittl" data-selected="0">
                                    <h4 class="title">Ideal Weather</h4>

                                    <div class="more-info">
                                        <div class="description">
                                            <p>Brief description about wittl, its primary and secondary params and what
                                                it can be used for.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6">
                                <div class="browsable-wittl" data-selected="0">
                                    <h4 class="title">Travel Time From</h4>

                                    <div class="more-info">
                                        <div class="description">
                                            <p>Brief description about wittl, its primary and secondary params and what
                                                it can be used for.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6">
                                <div class="browsable-wittl" data-selected="0">
                                    <h4 class="title">Close To</h4>

                                    <div class="more-info">
                                        <div class="description">
                                            <p>Brief description about wittl, its primary and secondary params and what
                                                it can be used for.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </section>

                </div>

                <div class="modal-footer">
                    <div class="wittl-input-group pull-right">
                        <button id="browse-next" class="btn wittl-btn">Next</button>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block content %}
<!--     <header class="toolbar">
        
    </header> -->

    <section class="wittlist-left pane" ng-controller="ListItemsCtrl">
        <header>
            <h2>My Wittlist - {{ list.name }}</h2>
        </header>

        <div class="add-new-card">
            <form id="new-list-item-form" method="POST" ng-submit="createListItem($event)"
                  action="{% url 'listitem-list' list.id %}">
                {% csrf_token %}
                <div class="input-group wittl-input-group">
                    <input type="text" name="url" ng-model="newItemURL" class="form-control"
                           placeholder="Add a new item to your Wittlist"/>
                <span class="input-group-btn">
                    <button id="new-list-item-submit" class="ladda-button wittl-btn btn" type="submit"
                            data-style="zoom-in"><span class="ladda-label">Insert</span></button>
                </span>
                </div>
                <input type="hidden" name="list_id" ng-model="listID" ng-init="listID={{ list.id }}"
                       value="{{ list.id }}"/>
            </form>
        </div>

        <!-- Wittlist -->
        <div class="wittlist row" isotope-container="isotope-container"
             iso-options="{layoutMode: 'vertical', transitionDuration: '0.65s'}" ng-cloak>
            <div class="col-sm-12 card-wrapper" ng-repeat="item in items track by item.id" isotope-item="isotope-item">
                
                <div class="card" data-id="[[item.id]]" ng-click="showModal(item)">
                   
                    <div class="pic" style="background-image: url('[[ item.card_image ]]')">
                        <!-- <div class="overlay"></div> -->
                        <a class="favourite pull-right" ng-click="toggleFavourite($event, item)"
                           ng-if="item.favourited" href="#"><i
                                class="icon_star"></i></a>
                        <a class="favourite pull-right" ng-click="toggleFavourite($event, item)"
                           ng-if="!item.favourited" href="#"><i
                                class="icon_star_alt"></i></a>

                        <!-- <img ng-src="" title="[[ item.name ]]" alt="[[ item.name ]]" /> -->
                    </div>

                    <div class="details">
                        <h3 class="title"> [[ item.name | truncate: 35 ]]</h3>

                        <p class="wittl-meta-description">[[ item.attributes.subtitle | truncate: 30 ]]</p>
                    </div>
                    
                    <div class="wittl-data">   
                        <ul>
                            <li ng-bind-html="item.summary[0] | unsafe"></li>
                            <li ng-bind-html="item.summary[1] | unsafe"></li>
                            <li ng-bind-html="item.summary[2] | unsafe"></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

        <!-- End wittlist -->
    </section>

    <section ng-controller="WittlsCtrl" class="wittlist-right pane">
        <header>
            <h2>Wittl By</h2>
        </header>

        <div class="wittl-wrapper">
            <form class="nl-form wittl-form">
                <p class="instruction">Drag and drop each <strong class="wittl-color">wittl</strong> to let us know what's most important to you.<br /><strong><em>The higher up it is, the more important!</em></strong></p>
                <input type="hidden" ng-model="listId" value="{{ list.id }}" ng-init="listID={{ list.id }}" />

                <hr />

                <p class="intro">I want to wittl by</p>
                <ul class="wittls" ui-sortable="sortableWittlsOptions" ng-model="clauses" ng-cloak>
                    <li class="wittl-clause" ng-repeat="clause in clauses">
                        <!-- <div class="wittl"> -->
                        <div class="wittl-conjunction">
                            and 
                        </div>
                            <div dropdown-select="wittlOptions" dropdown-model="clause" dropdown-onchange="addNewWittl(selected)"></div>
                            <wittl-params wittl="clause"></wittl-params>
                        <!-- </div> -->
                    </li>
                </ul>
                <div class="nl-overlay"></div>
            </form>
        </div>
    </section>


{% endblock %}

{% block javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.runtime.min.js"></script>
    <script src="/static/web/js/handlebars_helpers.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/web/js/templates.js"></script>

    <script type="text/javascript" src="/static/web/js/vendor/modernizr.custom.min.js"></script>

    <script src="/static/web/js/vendor/isotope.pkgd.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgcL0rohxn0A99lQMRJ8WcN17NT_x9mf0&sensor=true"></script>

    <script type="text/javascript" src="/static/web/js/vendor/ladda/spin.min.js"></script>
    <script type="text/javascript" src="/static/web/js/vendor/ladda/ladda.min.js"></script>
    <script type="text/javascript" src="/static/web/js/vendor/ladda/ladda.jquery.min.js"></script>
    <script type="text/javascript" src="/static/web/js/vendor/nanobar.js"></script>

    <script src="/static/web/js/vendor/angular/angular.js"></script>
    <script src="/static/web/js/vendor/angular/angular-resource.js"></script>
    <script src="/static/web/js/vendor/angular/angular-cookies.js"></script>
    <script src="/static/web/js/vendor/angular/angular-isotope.min.js"></script>
    <script src="/static/web/js/vendor/angular/angular-nanobar.js"></script>
    <script src="/static/web/js/vendor/angular/angular-sortable.js"></script>

    <script src="/static/web/js/wittl/filters.js"></script>
    <script src="/static/web/js/wittl/directives.js"></script>
    <script src="/static/web/js/wittl/controllers.js"></script>
    <script src="/static/web/js/wittl/services.js"></script>
    <script src="/static/web/js/wittl/app.js"></script>

    <!-- <script type="text/javascript" src="/static/web/js/vendor/nlform.js"></script> -->
{% endblock %}