{% extends "base.html" %}

{% block css %}
    <style type="text/css">
        #draggablePanelList .panel-heading {
            cursor: move;
        }

        #draggablePanelList {
            height: 300px
        }
    </style>
    <link href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" media="all">
{% endblock %}

{% block outsidewrapper %}

    <div class="modal fade" id="card-detail">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- modal content here -->

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block content %}

    <section class="wittlist-left pane">
        <header>
            <h2>My Wittlist - {{ list.name }}</h2>
        </header>

        <div class="add-new-card">
            <form method="POST" action="{% url 'insert_list_item' list.id %}">
                {% csrf_token %}
                <div class="input-group wittl-input-group">
                    <input type="text" name="url" class="form-control" placeholder="Add a new item to your Wittlist"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn wittl-btn">Insert</button>
                    </span>
                </div>
            </form>
        </div>

        <!-- Wittlist -->
        <div class="wittlist row">

            {% for list_item in list.listitem_set.all %}
                <!-- Start card -->
                <div class="col-sm-4 card-wrapper">
                    <div class="card" data-list-item-id="{{ list_item.id }}" data-wittl-weight="3">
                        <div class="pic">
                            <a class="favourite pull-right" href="#"><i class="icon_star_alt"></i></a>
                            <img src="{{ list_item.card_image }}" title="Name of thing here"/>
                        </div>

                        <div class="detail">
                            <header class="col-xs-9">
                                <h3 class="title">{{ list_item.name|truncatechars:15 }}</h3>

                                <p class="wittl-meta-description">{{ list_item.decoded_attributes.city|truncatechars:20 }}</p>
                            </header>
                            <div class="user-metrics col-xs-3">
                                <div class="row">
                                    <span class="col-xs-6 icon_building key"></span>
                                    <small class="col-xs-6 value">25</small>
                                </div>
                                <div class="row">
                                    <span class="col-xs-6 icon_pin_alt key"></span>
                                    <small class="col-xs-6 value">3</small>
                                </div>
                            </div>
                        </div>
                        <!-- End detail -->
                    </div>
                    <!-- End card -->
                </div>
                <!-- End card-wrapper -->
            {% endfor %}

        </div>

        <!-- End wittlist -->
    </section>

    <section class="wittlist-right pane">
        <header>
            <h2>Wittls <small class="browse"><a href="#">Browse...</a></small></h2>
        </header>

        <div class="query-wrapper">
            <div class="input-group wittl-input-group">
                <input type="text" name="query-input" class="form-control" placeholder="Add a new Wittl here..."/>
              <span class="input-group-btn">
                <button type="button" class="btn wittl-btn">WITTL</button>
              </span>
            </div>
        </div>

        <div class="wittl-wrapper">
            <ul class="wittls">
                {% for comparator in comparators %}
                    {% include 'list/comparator.html' with comparator=comparator %}
                {% endfor %}
            </ul>
        </div>

    </section>

{% endblock %}

{% block javascript %}
    <script src="/static/web/js/vendor/handlebars.js"></script>
    <script src="/static/web/js/vendor/isotope.pkgd.js"></script>
    <script src="/static/web/js/wittl_list.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgcL0rohxn0A99lQMRJ8WcN17NT_x9mf0&sensor=true">
    </script>
    {% verbatim %}
    <script id="modal-template" type="text/x-handlebars-template">
      <div class="modal-body">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <div class="details">
            <header>
                <h4 class="title">{{ name }}</h4>
                <p class="city">{{ city }}</p>
            </header>
            <hr />
            <div class="image-wrapper">
                <img class="item-image" src="{{ image }}" />
            </div>
            <hr />
            <p class="description">{{ description }}</p>
        </div>
        
        <div class="stats">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="key">
                            <i class="icon_pin"></i>
                        </td>
                        <td class="value">
                            <strong>{{ region }}</td>
                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            <i class="icon_group"></i>
                        </td>
                        <td class="value">
                            <strong>{{ person_capacity }}</strong>
                        </td>
                </tbody>
            </table>
        </div>
        <div id="map">
        </div>
      </div>
    </script>
    {% endverbatim %}
    <script>
        $(function () {
            $('.wittlist').on('click', '.card', function(e) {
                var id = $(this).data('listItemId');
                var url = '/static/web/dummy.json'; // DUMMY

                $.get(url, function(data) {
                    console.log(data);
                    populate_and_show_modal(data);
                });
            });

            var populate_and_show_modal = function(data) {
                var src = $('#modal-template').html();
                var template = Handlebars.compile(src);


                var $modal = $('#card-detail');
                $modal.find('.modal-content').empty().append(template(data));
                render_map(data.latitude, data.longitude);
                $modal.modal('show');
            };

            var render_map = function(lat, long) {
                console.log(lat);
                console.log(long);
                var mapOptions = {
                  center: new google.maps.LatLng(parseFloat(lat), parseFloat(long)),
                  zoom: 8
                };
                var map = new google.maps.Map(document.getElementById("map"),
                    mapOptions);
            };

            $(".comparator_form")
                    .on("change", ":input", function () {
                        var formData = $(this).parent("form").serializeArray();
                        var serializedForm = {};
                        $.each(formData, function (i, field) {
                            serializedForm[field["name"]] = field["value"];
                        });

                        var comparatorID = serializedForm["comparator_id"];
                        delete serializedForm["comparator_id"];

                        $.post("{% url "save_comparator_settings" %}",
                                {"comparator_id": comparatorID, "configuration": JSON.stringify(serializedForm)}
                        )
                    });
        });

    </script>
{% endblock %}